
<div class="row justify-content-md-center">
    <div class="col col-lg-2 text-left">
        {% if match.winnerCode == 1 %}
            <b>{{ match.homeCompetitor.name }}</b>
        {% else %}
            {{ match.homeCompetitor.name }}
        {% endif %}        </div>
    <div class="col-md-auto text-center">
        {{ match.homeScore.final }} : {{ match.awayScore.final }}
        <br>
        ({{ match.homeScore.period1 }} : {{ match.awayScore.period1 }})
        ({{ match.homeScore.period2 }} : {{ match.awayScore.period2 }})
        ({{ match.homeScore.period3 }} : {{ match.awayScore.period3 }})
        ({{ match.homeScore.period4 }} : {{ match.awayScore.period4 }})
        {% if match.homeScore.overtime %}
            <br>
            ({{ match.homeScore.overtime }} : {{ match.awayScore.overtime }}) (OT)
        {% endif %}
    </div>
    <div class="col col-lg-2 text-right">
        {% if match.winnerCode == 2 %}
            <b>{{ match.awayCompetitor.name }}</b>
        {% else %}
            {{ match.awayCompetitor.name }}
        {% endif %}
    </div>
</div>
