<tr>
    <th scope="row">{{ position }}</th>
    <td>{{ standingsRow.competitor.name }}</td>
    <td>{{ standingsRow.matches }}</td>
    <td>{{ standingsRow.wins }}</td>
    <td>{{ standingsRow.losses }}</td>
    <td>{{ standingsRow.scoresFor }} : {{ standingsRow.scoresAgainst }}</td>
    <td>{{ standingsRow.winPercent }}%</td>
</tr>